﻿@model BookKeeping.Web.Models.Domain.OperationCategory
<div class="form-group">
    @Html.LabelFor(m => m)
    @Html.TextBoxFor(m => m, new {@class = "form-control"})
    @Html.ValidationMessageFor(m => m)
    
    <script type="text/javascript">
        $(function () {
            $('#' + '@Html.IdFor(m => m)').typeahead({                                                                                                       
                prefetch: '@Url.Action("GetAllCategoryOperation", "Operation")', 
                limit: 10
            });
        });
  </script>
</div>
