﻿@model BookKeeping.Web.ViewModel.Account.ChangePasswordModel
@{
    ViewBag.Title = "Change password";
}

<div class="col-md-6">     
    
    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
    <p>@Html.ActionLink("Back to default page", "Index", "Home")</p>

    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "changePasswordForm", ajaxForm = true }))
    {                
        @Html.EditorFor(m=>m.OldPassword)
        @Html.EditorFor(m=>m.NewPassword)
        @Html.EditorFor(m=>m.ConfirmPassword)
        
        @Html.Button("Change password", isSubmit: true)                     
    }
</div>