﻿@using BookKeeping.Web.Components.Notifier

@model dynamic

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="col-md-6 col-md-offset-3 ">
    @Html.Notifier()           
    <div id="loginPanel">
        <section id="localLoginPanel">
            <h2>Log in</h2>
            @Html.Partial("_Login")
        </section>       
        <p>First time here? <a id="showRegister">Sign up</a></p>
    </div>
    <div id="registerPanel">
        <h2>Sign up</h2>
        @Html.Partial("_Register")
        <p>Already signed up? <a id="showLogin">Log in</a></p>
    </div>
    
    <script type="text/javascript">
        $(function () {            
            $("#showRegister").click(function() {
                $("#loginPanel").hide("slide", function() {
                    $("#registerPanel").show("slide", function() {
                        $("#registerPanel").find('input[type=text],textarea,select').filter(':visible:first').focus();
                    });
                });
            });

            $("#showLogin").click(function() {
                $("#registerPanel").hide("slide", function() {
                    $("#loginPanel").show("slide", function() {
                        $("#loginPanel").find('input[type=text],textarea,select').filter(':visible:first').focus();
                    });
                });
            });
        });

    </script>
</div>
