﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - BookKeeping</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
    
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap/base")

        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        @Html.Partial("_Menu")
       
        <div class="container">
            
                @RenderBody()           
            
        </div>      
            
        @Scripts.Render("~/bundles/scriptsForAllPages")
        
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>