﻿@using BookKeeping.Web.Components.Notifier

@{
    Layout = "_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>@ViewBag.Title</h1>
        </div>
        @Html.Notifier()
    </div>
</div>
@RenderBody()

@section scripts
{
    @RenderSection("scripts", required: false)
}
