﻿
@if(Request.IsAuthenticated)
{    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bookkeeping</a>
            </div>
            <div class="collapse navbar-collapse">             
                <div class="navbar-text pull-right" id="userSettings">
                    @Html.Partial("_UserSettings")
                </div>
            </div>                
        </div>
    </div>
}