﻿@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: new { area = "" }, htmlAttributes: new { @class = "username", title = "Manage" }) |
        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" })) {            
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}