﻿@model BookKeeping.Web.Components.Notifier.Model.INotifier
<div class="notifier" >
    @if (this.Model.Errors.Any())
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var notify in Model.Errors)
                {
                    <li>
                        @notify.MessageText
                    </li>
                }    
            </ul>
        </div>
    }
    
    @if (this.Model.Warnings.Any())
    {
        <div class="alert alert-warning">
            <ul>
                @foreach (var notify in Model.Warnings)
                {
                    <li>
                        @notify.MessageText
                    </li>
                }    
            </ul>
        </div>
    }
    
    @if (this.Model.Messages.Any())
    {
        <div class="alert alert-success">
            <ul>
                @foreach (var notify in Model.Messages)
                {
                    <li>
                        @notify.MessageText
                    </li>
                }    
            </ul>
        </div>
    }
</div>