﻿@model BookKeeping.Web.ViewModel.Operation.OperationViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add new operation</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("SaveNew", "Operation", FormMethod.Post, new { id = "addOperationForm", ajaxForm = "True" }))
            {
                @Html.EditorFor(p => p)                 
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="btnSubmitAdd" >Save</button>
        </div>
    </div>
</div>

<script type="text/javascript">       
    $(document).ready(function () {
        
        $.validator.unobtrusive.parse("#addOperationForm");
                
        $('#btnSubmitAdd').click(function () {
            $('#addOperationForm').submit();            
        });

        $('#addModalDialog').on('hidden.bs.modal', function (e) {
            resetForm($('#addOperationForm'));
        });

        $('#addOperationForm').on("ajaxFormSubmitComplete", function() {
            resetForm($('#addOperationForm'));
            $(this).trigger('operationAdded');
            $('#addModalDialog').modal('hide');
        });
        
        function resetForm($form) {
            $form.find('input:text, input:password, input:file, select, textarea').not('#DateTime').val('');
            $form.find('input:radio, input:checkbox')
                 .removeAttr('checked').removeAttr('selected');

            // Reinit category selector to display the newly added categories
            $('#CategoryName').typeahead('destroy');
            $('#CategoryName').typeahead({
                prefetch: '@Url.Action("GetAllCategoryOperation", "Operation")',
                  limit: 10
              });
        }
    });
</script>
