﻿@model BookKeeping.Web.ViewModel.Operation.OperationListViewModel

<div class="row">
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body form-inline">
                <div class="form-group">
                    <label for="monthFilter">Month</label>
                    <span id="monthFilter" class="monthpicker" data-bind="monthpicker: filter.month"></span>
                </div>
                <div class="form-group">
                    <label for="categoryFilter">Category</label>
                    <input id="categoryFilter" type="text" class="form-control" placeholder="Category starts with..." data-bind="value: filter.categoryStartsWith, valueUpdate: 'afterkeydown'">
                </div>
            </div>
        </div>
        <table class="table table-hover table-bordered" data-bind="visible: rows().length > 0">
            <thead>
                <tr>
                    <th class="td-checkbox">
                        <input type="checkbox" data-bind="checked: selectedAll" />
                    </th>
                    <th>Date</th>
                    <th>Value</th>
                    <th>Category</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: rows">
                <tr>
                    <td>
                        <input type="checkbox" data-bind="checked: selected" />
                    </td>
                    <td data-bind="text: DateTime"></td>
                    <td data-bind="text: Value"></td>
                    <td data-bind="text: CategoryName"></td>
                    <td data-bind="text: Comment"></td>
                </tr>
            </tbody>
        </table>
        <div class="panel" data-bind="visible: rows().length == 0">
            <div class="panel-body">
                No data found
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <p>
                    <a class="btn btn-primary" data-toggle="modal" href="@Url.Action("Add")" data-target="#addModalDialog">Add</a>
                    <a class="btn btn-default" data-bind="enable: hasSelectedRows, click: deleteSelected">Delete</a>
                </p>
            </div>
            <div class="col-md-7">
                <ul id="operationPager" class="pagination pull-right" data-bind="visible: paging.TotalPagesCount() > 0">
                    <li data-bind="css: { disabled: paging.PageNumber() <= 1 }">
                        <a href="#" data-bind="click: paging.back">&laquo;</a>
                    </li>
                    <!-- ko foreach: paging.pages -->
                    <li data-bind="css: { active: $root.paging.PageNumber() == $data }">
                        <a href="#" data-bind="text: $data, click: $root.paging.selectPage"></a>
                    </li>
                    <!-- /ko -->
                    <li data-bind="css: { disabled: paging.PageNumber() >= paging.TotalPagesCount() }">
                        <a href="#" data-bind="click: paging.next">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="addModalDialog" class="modal fade">
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var initData =  @Html.ToJson(Model);
        var operationListViewModel = function() {
            var self = this;
            self.pagingInitData = initData.Paging;
            self.filter = {
                month: ko.observable(new Date(parseInt(initData.Filter.Month.replace(/\/Date\((.*?)\)\//gi, "$1")))),
                categoryStartsWith: ko.observable(initData.Filter.CategoryStartsWith)
            };

            window.bookkeeping.AddGridViewMixin(self, '@Url.Action("List")', '@Url.Action("Delete")');
        };

        var viewModel = new operationListViewModel();
        ko.applyBindings(viewModel);

        $('#addModalDialog').on('operationAdded', function() {            
            viewModel.reload();
        });
    });
</script>


