﻿
<div class="form-group">
    @Html.LabelFor(m => m)
   
    @Html.TextBoxFor(m => m, new {@class = "form-control", @Value = Model })
    @Html.ValidationMessageFor(m => m)
    
    <script type="text/javascript">
        $(function () {
            $('#' + '@Html.IdFor(m=>m)').datepicker(
                {
                    dateFormat: "dd.mm.yy"
                }
            );
        });
    </script>
</div>
